@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
/* Use :root vars */
:root {
  --white: #fff;
  --black: #001;
  --bg-color: #cdcdcd;
  --boxshadow-color: #36454f;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40vw;
  background-color: var(--bg-color);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: var(--white);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 2px 0px ;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  border: 1px solid #675979;
  border-radius: 5px;
  padding: 5px 10px;
  color: var(--white);
}

.btn:hover {
  border-color: var(--black);
}
